name: Node CI

on:
  push:
    branches:
    - 'staging'
    - dev

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build
      run: |
        npm install
        npm run build --if-present
      env:
        CI: true
            
    - name: Webhook
      uses: ybrin/secure-actions-webhook@0.1.2
      env:
        REQUEST_URI: ${{ secrets.WEBHOOK_URL }}
        REQUEST_DATA: '{ "something": "interesting" }'
        HMAC_SECRET: "secret_used_to_generate_signature"
    
    - name: Webhook Action
      uses: joelwmale/webhook-action@1.0.0
      env:
        WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
      with:
        data: "Hello"
      
        
       
     
